body {
  background-color: rgb(184, 175, 175);
  text-align: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading-style {
  margin: 300px auto;
}

.form-style {
  background-color: rgba(77, 97, 93, 0.767);
  margin: auto;
  width: 400px;
  height: 280px;
  margin-top: 200px;
  border-radius: 10px;
}

.signup-form-style {
  background-color: rgba(77, 97, 93, 0.767);
  margin: auto;
  width: 400px;
  margin-top: 120px;
  border-radius: 10px;
}

.h2-style {
  text-align: center;
  color: rgb(177, 216, 37);
}

.link-style {
  float: right;
  color: black;
}

.link-style:hover {
  color: black;
}

.link-login-style {
  margin-top: 20px;
  float: right;
  color: black;
}

.link-login-style:hover {
  color: black;
}

.header-style {
  text-align: center;
  align-items: center;
  color: darkgreen;
}

.label-style {
  color: white;
  padding: 4px;
  margin-left: -280px;
}

.label-style1 {
  color: white;
  padding: 4px;
  margin-left: -310px;
}

.label-style2 {
  color: white;
  padding: 4px;
  margin-left: -350px;
}

.label-style3 {
  color: white;
  padding: 4px;
  margin-left: -320px;
}

.btn-style {
  margin: 10px auto;
  margin-bottom: 25px;
}

.modal-style {
  margin: 80px auto;
}

.modal-dialog-style {
  width: 580px;
  padding: 30px;
}

.modal-title-style {
  color: darkblue;
}

.input-modal-style {
  border-radius: 8px;
  border-width: 2px;
  border-color: rgb(36, 146, 3);
}

.form-lbl-style {
  margin-left: -300px;
}

.list-style {
  margin-bottom: 40px !important;
  margin: auto;
  text-align: left;
  width: 500px;
}

.list-btn-style {
  margin-right: 15px;
}

.input-search-style {
  margin: 10px auto;
  background-color: gainsboro;
  border-radius: 6px;
  border-width: 3px;
  border-color: aqua;
  height: 38px;
  margin-right: 10px;
}

.input-search-style:hover {
  margin: 10px auto;
  background-color: whitesmoke;
  border-radius: 6px;
  border-width: 3px;
  border-color: aqua;
  height: 38px;
  margin-right: 10px;
}

.btn-search-style {
  margin: 10px auto;
  height: 38px;
  border-width: 3px;
  border-color: rgb(141, 100, 100);
  background-color: rgb(165, 127, 255);
  text-align: center;
  border-radius: 10px;
}

.btn-search-style:hover {
  margin: 10px auto;
  height: 38px;
  border-width: 3px;
  border-color: rgba(97, 170, 192, 0.562);
  background-color: black;
  color: aqua;
  text-align: center;
  border-radius: 10px;
}

.table-style {
  margin: auto;
  width: 60%;
}

.table-tr-style {
  background-color: cadetblue;
  color: white;
}

.tr-style {
  background-color: darkseagreen;
}

.tr-style:hover {
  background-color: rgb(128, 189, 128);
}
